@font-face {
  font-family: sansUndertale;
  src: url(misc/ComicMono.ttf);
  font.familyname = 'Comic Mono'
  font.version = '0.1.1'
  font.comment = 'https://github.com/dtinth/comic-mono-font'
  font.copyright = 'https://github.com/dtinth/comic-mono-font/blob/master/LICENSE'
}

body {
  background-color:black;
  color: white;
  font-family: sansUndertale, "couriernew", monospace;
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css">
  letter-spacing: 0px;
}

.blog {
  width:75%;
  margin: 6px auto;
}

.links {
  margin:6px;
}

.center {
  text-align:center;
  margin:auto;
  width:100%;
}

.gifs {
  height:16px;
}

.fart {
  text-align:center;
  margin:auto;
}

.subtitle {
  border:2px solid yellow;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.gifRow {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex: 1 1 0%;
  padding: 6px 0px;
  flex-direction: column;
  align-items: center;
}

.rowA {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.columnA {
  display: flex;
  flex: 1 1 0%;
  padding: 6px 0px;
  flex-direction: column;
  align-items: center;
}


a:link {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: fuchsia;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: chartreuse;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}