body {
  background-color:black;
  color: white;
}

.links {
  margin:6px;
}

.centre {
  text-align:center;
  margin:auto;
}

.gifs {
  width:16px;
  height:16px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

a:link {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: fuchsia;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: chartreuse;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}